Repository wechat-miniprogram/glass-easel, pull requests merged in 2023-12, with the labels that each got.

#114 feat(template-compiler): shorten generated code
  glass-easel-template-compiler/src/tree.rs
Labels: enhancement, module:template-compiler

#116 fix: lvalue check and analysis in wx:for failure
  glass-easel-template-compiler/src/tree.rs
  glass-easel/tests/tmpl/lvalue.test.ts
Labels: bug, module:template-compiler

#119 fix(core): classList may use backendElement after it is released
  glass-easel/src/class_list.ts
  glass-easel/src/component.ts
  glass-easel/src/native_node.ts
Labels: bug, module:core
